{% load static %}

<style>
.siteCounter{
  padding-left: 10px;
}

@media (max-width:320px){
  .siteCounter{
    padding-top: 10px;
    padding-left: 40%;
  }
}
@media (min-width: 320px) and (max-width:400px){
    .siteCounter{
      padding-top: 15px;
      padding-left: 50%;
    }
}
</style>


<footer class="container-fluid backgroundBlue pt-4 pb-0 pl-0 pr-0" style="background-color:#0B1934;">    
  <div class="container pl-0 pr-0">      
      <div class="row" >
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 pl-3 pr-3 pr-sm-3 pl-sm-3 pl-md-0 pr-md-0 pl-lg-0 pr-lg-0 pt-2 text-center text-lg-left text-xl-left">
          <h6 class="text-white">&copy; 2021 Все право защищены.</h6> 
          <h6 class="text-white">Сайт разработан в студио инновационных разработок MYWEB.UZ.<h6>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2 text-center text-md-center text-lg-right text-xl-right">
          <div class="row pl-0 pr-5 pl-md-3 pb-5 text-center">
            <span class="pr-5 pr-sm-4 pr-md-3 pr-lg-3 pr-xl-3 ml-auto">
                <a href="https://t.me/NG_ENERGO" target="_blank" class="pr-2">
          <img title="telegram" src="{% static 'img/socialicons/telegram.png' %}" width="30" height="30" 
          onmouseover="this.src='{% static 'img/socialicons/telegram.svg' %}'" 
          onmouseout="this.src='{% static 'img/socialicons/telegram.png' %}'" />
                </a>
                <a href="https://www.instagram.com/ngenergo/" target="_blank" class="pr-2">
          <img title="instagram" src="{% static 'img/socialicons/instagram.png' %}" width="30" height="30" 
          onmouseover="this.src='{% static 'img/socialicons/instagram.svg' %}'" 
          onmouseout="this.src='{% static 'img/socialicons/instagram.png' %}'" />
                </a>
                <a href="https://www.youtube.com/channel/UC09rUE8o6Hh9a9c3NI4R4ng" target="_blank" class="pr-2">
          <img title="facebook" src="{% static 'img/socialicons/youtube1.svg' %}" width="30" height="30" 
          onmouseover="this.src='{% static 'img/socialicons/youtube.svg' %}'" 
          onmouseout="this.src='{% static 'img/socialicons/youtube1.svg' %}'" />
                </a>
                <a href="https://www.facebook.com/neftgaz.energo" target="_blank">
          <img title="facebook" src="{% static 'img/socialicons/facebook.png' %}" width="30" height="30" 
          onmouseover="this.src='{% static 'img/socialicons/facebook.svg' %}'" 
          onmouseout="this.src='{% static 'img/socialicons/facebook.png' %}'" />
                </a>
              </span>
              <span class="siteCounter">
                    <SCRIPT language="javascript" type="text/javascript">
                      top_js="1.0";top_r="id=45403&r="+escape(document.referrer)+"&pg="+escape(window.location.href);document.cookie="smart_top=1; path=/"; top_r+="&c="+(document.cookie?"Y":"N")    </SCRIPT>
                    <SCRIPT language="javascript1.1" type="text/javascript">
                      top_js="1.1";top_r+="&j="+(navigator.javaEnabled()?"Y":"N")    
                    </SCRIPT>
                    <SCRIPT language="javascript1.2" type="text/javascript">
                      top_js="1.2";top_r+="&wh="+screen.width+'x'+screen.height+"&px="+
                      (((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth)
                    </SCRIPT>
                    <SCRIPT language="javascript1.3" type="text/javascript">
                      top_js="1.3";
                    </SCRIPT>
                    <SCRIPT language="JavaScript" type="text/javascript">
                      top_rat="&col=FFFFFF&t=000000&p=FF0000";top_r+="&js="+top_js+"";document.write('<a href="http://www.uz/ru/res/visitor/index?id=45403" target=_top><img src="https://cnt0.www.uz/counter/collect?'+top_r+top_rat+'" width=88 height=31 border=0 alt="Топ рейтинг www.uz"></a>')
                    </SCRIPT>

                    <NOSCRIPT><A href="http://www.uz/ru/res/visitor/index?id=45403" target=_top><IMG height=31 src="https://cnt0.www.uz/counter/collect?id=45403&pg=http%3A//uzinfocom.uz&&col=FFFFFF&amp;t=000000&amp;p=FF0000" width=88 border=0 alt="Топ рейтинг www.uz"></A></NOSCRIPT>
                    </span>  
                </div>
                </div>  
              </div> 
       </footer>