{% extends 'admin-panel/base.html' %}
{% load static %}



{% block title %} <title>ngenergo.uz</title> {% endblock title %}

        {% block body %}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1>Загрузка изображения</h1>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 border p-3">
                            <form action="upload_file" id="img-upload-form" method="post" enctype="multipart/form-data">                    
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="250" alt="img1">
                                <p class="pt-1 text-right">
                                    <label for="upload_imgs" class="button hollow">Выберите свои изображения +</label>
                                    <input class="show-for-sr" type="file" id="upload_imgs" name="upload_imgs" multiple/>
                                    <input type="text" name="input1" id="input1" placeholder="Введите информацию ... ">
                                </p>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 border p-3">
                            <form action="upload_file" id="img-upload-form" method="post" enctype="multipart/form-data">                    
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="250" alt="img1">
                                <p class="pt-1 text-right">
                                    <label for="upload_imgs" class="button hollow">Выберите свои изображения +</label>
                                    <input class="show-for-sr" type="file" id="upload_imgs" name="upload_imgs" multiple/>
                                    <input type="text" name="input1" id="input1" placeholder="Введите информацию ... ">
                                </p>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 border p-3">
                            <form action="upload_file" id="img-upload-form" method="post" enctype="multipart/form-data">                    
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="250" alt="img1">
                                <p class="pt-1 text-right">
                                    <label for="upload_imgs" class="button hollow">Выберите свои изображения +</label>
                                    <input class="show-for-sr" type="file" id="upload_imgs" name="upload_imgs" multiple/>
                                    <input type="text" name="input1" id="input1" placeholder="Введите информацию ... ">
                                </p>
                            </form>
                        </div>
                    </div>  
                    <div class="row pb-3 pt-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-inline justify-content-between">
                            <button class="btn btn-success">Назад</button>
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h1>Каталог</h1>
                    <div class="row pb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Введите информацию ..." aria-label="Введите информацию" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-save1">Сохранить</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Введите информацию ..." aria-label="Введите информацию" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-save2">Сохранить</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Введите информацию ..." aria-label="Введите информацию" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-save3">Сохранить</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button class="btn btn-success">Назад</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <h1>Продукты</h1>
                    <div class="row pb-4">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Выберите продукты</option>
                                <option value="1">Продукты 1</option>
                                <option value="2">Продукты 2</option>
                                <option value="3">Продукты 3</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <a href="#!" class="btn btn-outline-success"><span><i class="fa fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-inline justify-content-between p-4 border">
                            <h5>Вы хотите удалить данные ?</h5>
                            <div class="form-inline">
                                <button class="btn btn-success ml-2">Да</button>
                                <button class="btn btn-danger ml-2">Нет</button>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                            <div class="card">
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="150" alt="products-img1">
                                <h5 class="p-2">Products name</h5>
                                <div class="card-footer border-0 form-inline justify-content-between p-1">
                                    <button class="btn btn-danger">Удалить</button>
                                    <button class="btn btn-success">Изменить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                            <div class="card">
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="150" alt="products-img1">
                                <h5 class="p-2">Products name</h5>
                                <div class="card-footer border-0 form-inline justify-content-between p-1">
                                    <button class="btn btn-danger">Удалить</button>
                                    <button class="btn btn-success">Изменить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                            <div class="card">
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="150" alt="products-img1">
                                <h5 class="p-2">Products name</h5>
                                <div class="card-footer border-0 form-inline justify-content-between p-1">
                                    <button class="btn btn-danger">Удалить</button>
                                    <button class="btn btn-success">Изменить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                            <div class="card">
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="150" alt="products-img1">
                                <h5 class="p-2">Products name</h5>
                                <div class="card-footer border-0 form-inline justify-content-between p-1">
                                    <button class="btn btn-danger">Удалить</button>
                                    <button class="btn btn-success">Изменить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <img src="{% static 'img/bg1.png' %}" width="100%" height="200" alt="">
                            <div class="form-inline">
                                <img src="{% static 'img/myprintuz.jpg' %}" class="p-1" width="33%" height="100" alt="">
                                <img src="{% static 'img/myprintuz.jpg' %}" class="p-1" width="33%" height="100" alt="">
                                <img src="{% static 'img/myprintuz.jpg' %}" class="p-1" width="33%" height="100" alt="">
                            </div>
                            <a href="#!" class="btn btn-success w-100">Изменить изображение</a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for=""></label>
                                <textarea class="form-control" name="textarea" id="textarea" rows="12"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-3">
                            <div class="form-group">
                                <label for=""></label>
                                <textarea class="form-control" name="textarea" id="textarea" rows="12"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row hide">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 border p-3">
                            <form action="upload_file" id="img-upload-form" method="post" enctype="multipart/form-data">                    
                                <img src="{% static 'img/bg1.png' %}" width="100%" height="250" alt="img1">
                                <p class="pt-1 text-right">
                                    <label for="upload_imgs" class="button hollow">Выберите свои изображения +</label>
                                    <input class="show-for-sr" type="file" id="upload_imgs" name="upload_imgs" multiple/>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="row pb-3 pt-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-inline justify-content-between">
                            <button class="btn btn-success">Назад</button>
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

